li:hover {
  background-color: #e1e5eb;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #edeef0;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header {
  position: fixed;
  width: 100%;
  background-color: #507299;
  box-sizing: border-box;
  height: 43px;
}
header > img {
  padding: 8px 18%;
}
.FlexContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 4.5em;
}
.FlexContainer > nav {
  box-sizing: border-box;
  margin-left: -220px;
  margin-right: 20px;
}
nav > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
nav > ul > li {
  width: 180px;
  padding: 8px;
  color: #2e5473;
}
.FlexContainer > .Feed {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 390px;
}
.Feed > .NewsBlock {
  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: justify;
}
.Feed > .NewsBlock > img {
  width: 100%;
}
.Feed > .NewsBlock > .NewsHeader {
  box-sizing: border-box;
  border-bottom: 3px solid #d0d0d0;
  margin-bottom: 5px;
  padding-bottom: 5px;
  position: relative;
  right: 20px;
  width: 389px;
}
.NewsHeader > h4 {
  margin: 0 20px;
}
.Feed > .NewsBlock > .NewsFooter {
  border-top: 3px solid #d0d0d0;
  margin-top: 5px;
  padding-top: 5px;
  color: #2e5473;
}
.NewsFooter > span:first-child {
  float: left;
}
.NewsFooter > span:last-child {
  float: right;
}

.FlexContainer > aside {
  position: fixed;
  width: 150px;
  top: 50px;
  margin-right: -800px;
}
aside > .AsideBlock {
  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 0 10px;
}
.AsideBlock > p {
  background-color: #edeef0;
}
footer {
  background-color: white;
  color: #d0d0d0;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  min-width: 100%;
  height: 35px;
}

footer > p {
  margin: 0;
  padding: 10px;
}
footer > button {
  margin-top: 10px;
}
@media screen and (max-width: 960px) {
  aside {
    display: none;
  }
  footer>button{
    display: none;
  }
  /* header > img{
    padding: 8px 5%;
  } */
}
@media screen and (max-width: 840px) {
  .FlexContainer {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
  }
  ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    padding: auto !important;
    width: auto !important;
  }
  nav {
    margin-left: 0px !important;
    margin-bottom: 20px;
    max-width: 390px;
  }
  /* header > img{
    padding: 8px 18%;
  } */
}
.Content::selection,
.NewsBlock > img::selection {
  color: green;
  background-color: #e1e5eb;
}
